##############################
## Java
##############################
*.class
*.jar
*.war

##############################
## Maven
##############################
target/
.mvn/

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
